# development environment
.venv
.vscode
*.code-workspace

# temporary directories (backup files, local builds, tests, etc.)
__pycache__
.coverage
.env
.testing
.tox
*.drawio.bkp
*.bkp-*
doc/_build
cov_*
plantuml.jar

# notes during development
__dev_notes.md
# stored github tokens
gh_token
gh_token_classic
