[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "kiss_cf"
version = "0.1"
authors = [
  { name = "Alexander Reinhold", email="mail@alexander-reinhold.de" }
]
description = "KISS Cross Functionals"
readme = "README.md"
requires-python = ">=3.7"
license_file = "LICENSE"
classifiers = [
    "Programming Language :: Python :: 3"
]

[tool.tox]
legacy_tox_ini = """
    [tox]
    isolated_build = True
    envlist = py

    [testenv]
    setenv = PYTHONPATH = {toxinidir}
    deps = 
      -r{toxinidir}/requirements.txt
      -r{toxinidir}/requirements_test.txt
    commands = pytest --cov=kiss_cf
"""
