[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "kiss_cf"
version = "0.1"
authors = [
  { name = "Alexander Reinhold", email="mail@alexander-reinhold.de" }
]
description = "KISS Cross Functionals"
readme = "README.md"
requires-python = ">=3.7"
license_file = "LICENSE"
classifiers = [
    "Programming Language :: Python :: 3"
]

[tool.tox]
legacy_tox_ini = """
    [tox]
    isolated_build = True
    env_list = py310

    [gh-actions]
    python =
        3.10: py310

    [testenv]
    setenv = PYTHONPATH = {toxinidir}
             VIRTUALENV_DOWNLOAD=0
    deps =
      -r{toxinidir}/requirements.txt
      -r{toxinidir}/requirements_test.txt

    commands = pytest --cov=kiss_cf --cov-report html --cov-report term
"""
