[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "appxf_private"
version = "0.4"
authors = [
  { name = "Alexander Reinhold", email="mail@alexander-reinhold.de" }
]
description = "APPXF_Private"
readme = "README.md"
requires-python = ">=3.10"
license_file = "LICENSE"
classifiers = [
    "Programming Language :: Python :: 3"
]

[project.entry-points.pyinstaller40]
hook-dirs = "appxf_private.pyinstaller:get_hook_dirs"

[tool.appxf]
# The testing sandbox is the root directory where files are placed that are
# needed or generated during test case. Each test case should use individual
# subfolders.
test-sandbox-root = "./.testing"

[tool.tox]
legacy_tox_ini = """
    [tox]
    isolated_build = True
    env_list = py310, py312

    [gh-actions]
    python =
        3.10: py310
        3.12: py312

    [testenv]
    passenv = APPXF_*
    setenv = PYTHONPATH = {toxinidir}
             VIRTUALENV_DOWNLOAD=0
    deps =
      -r{toxinidir}/requirements.txt
      -r{toxinidir}/requirements_test.txt

    commands = pytest -rA tests/_fixtures/application.py::test_cleanup
               coverage erase
               coverage run --source=appxf_private --context=UNIT --branch -m pytest -rA ./tests
               coverage report --contexts=UNIT
               coverage html --contexts=UNIT -d cov_html_UNIT
               coverage run -a --source=appxf_private --context=FEATURE --branch -m pytest -rA ./tests_features
               coverage report --contexts=FEATURE
               coverage html --contexts=FEATURE -d cov_html_FEATURE
               coverage report
               coverage html -d cov_html
"""
# commands = pytest --cov=appxf_private --cov-report html --cov-report term
# commands = coverage run --source src -m pytest