[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "kiss_cf"
version = "0.2b0"
authors = [
  { name = "Alexander Reinhold", email="mail@alexander-reinhold.de" }
]
description = "KISS Cross Functionals"
readme = "README.md"
requires-python = ">=3.10"
license_file = "LICENSE"
classifiers = [
    "Programming Language :: Python :: 3"
]

[tool.tox]
legacy_tox_ini = """
    [tox]
    isolated_build = True
    env_list = py310

    [gh-actions]
    python =
        3.10: py310

    [testenv]
    passenv = KISS_*
    setenv = PYTHONPATH = {toxinidir}
             VIRTUALENV_DOWNLOAD=0
    deps =
      -r{toxinidir}/requirements.txt
      -r{toxinidir}/requirements_test.txt

    commands = pytest -rA tests/fixtures/application.py::test_cleanup
               coverage erase
               coverage run --source=kiss_cf --context=UNIT --branch -m pytest -rA --ignore=./tests/bdd --ignore=./tests/application
               coverage report --contexts=UNIT
               coverage html --contexts=UNIT -d cov_html_UNIT
               coverage run -a --source=kiss_cf --context=APP --branch -m pytest -rA ./tests/application ./tests/bdd
               coverage report --contexts=APP
               coverage html --contexts=APP -d cov_html_APP
               coverage report
               coverage html -d cov_html
"""
# commands = pytest --cov=kiss_cf --cov-report html --cov-report term
# commands = coverage run --source src -m pytest