name: Test

on:
  workflow_call:
    inputs:
      os:
        type: string
        required: true
      python-version:
        type: string
        required: true
      caller-is-kiss-cf:
        type: string
        required: false
        default: 'no'
    secrets:
      kiss-cf-token:
        required: false

jobs:
  test:
    runs-on: ${{ inputs.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Checkout kiss_cf (if called from using project)
      uses: actions/checkout@v3
      with:
        repository: alexander-rd/kiss_cf
        path: kiss_cf
        # TODO: remove token once repo becomes bublic
        token: ${{ secrets.kiss-cf-token }}
      if: inputs.caller-is-kiss-cf == 'no'

    - name: Setup (if called kiss_cf)
      uses: ./.github/actions/setup
      with:
        python-version: ${{ inputs.python-version }}
      if: inputs.caller-is-kiss-cf != 'no'

    - name: Setup (if called from using project)
      uses: ./kiss_cf/.github/actions/setup
      with:
        python-version: ${{ inputs.python-version }}
      if: inputs.caller-is-kiss-cf == 'no'

    - name: Install kiss_cf (if called from using project)
      run: pip install -e./kiss_cf
      if: inputs.caller-is-kiss-cf == 'no'

    - name: Orientation (ls)
      run: ls -la
      if: runner.os == 'Linux'

    - run: pip install tox tox-gh-actions

    - name: Test
      env:
        KISS_FTP_HOST: ${{ vars.KISS_FTP_HOST }}
        KISS_FTP_USER: ${{ secrets.KISS_FTP_USER }}
        KISS_FTP_PASSWORD: ${{ secrets.KISS_FTP_PASSWORD }}
      run: tox
