name: Test

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ['3.10']

    uses: alexander-rd/kiss_cf/.github/workflows/test.yml@main
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
      caller-is-kiss-cf: 'yes'
