name: Test Windows
# Splitted operating systems to not cancel one OS run if another fails. It also
# gernetes independent badges.

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ['3.10', '3.12']

    runs-on: ${{ matrix.os }}

    steps:
      - id: call_test
        uses: alexander-rd/kiss_cf/.github/test@main
        with:
          os: ${{ matrix.os }}
          python-version: ${{ matrix.python-version }}
          caller-is-kiss-cf: 'yes'
