name: Test Windows
# Splitted operating systems to not cancel one OS run if another fails. It also
# gernetes independent badges.

on:
  - push
  - pull_request

jobs:
  test:
    strategy:
      matrix:
        os: [windows-latest]
        python-version: ['3.12']

    runs-on: ${{ matrix.os }}

    steps:
      - id: call_setup
        uses: alexander-rd/kiss_cf/.github/actions/setup@main
        with:
          python-version: ${{ inputs.python-version }}
          caller-is-kiss-cf: 'yes'

      - id: run_tox
        uses: alexander-rd/kiss_cf/.github/actions/run-tox@main
        with:
          python-version: ${{ matrix.python-version }}
          has-kiss-cf-subfolder: 'no'
